html {
	body {
		background-color: $body-background-color;

		a {
			color: $link-color;
			background-color: transparent; // Remove the gray background on active links in IE 10.

		  	@include hover() {
				color: $link-hover-color;
			}
		}
	}
}

.company-about {
    font-size: 14px;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

svg:not(:root) {
    overflow: hidden;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
